@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode removed to enforce Light Theme as requested */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  antialiased: true;
}

@layer utilities {
  .container-custom {
    @apply max-w-6xl mx-auto px-6; /* Increased width to 6xl */
  }
  
  /* Custom scrollbar for terminal look */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}
